<header class="site-header">
    <div class="flex-center">
        <img class="site-logo" src="https://raw.githubusercontent.com/Liahus3003/gallery/main/logos/cashtrek-logo.svg" alt="Site Logo">
    </div>
    <div class="user-info" *ngIf="userInfo">
        <span class="message">Welcome</span>
        <img class="avatar" aria-hidden="true" src="https://raw.githubusercontent.com/Liahus3003/gallery/main/color-icons/avatar.svg" alt="User Avatar">
        <span class="user-name">{{userInfo.name}}</span>
    </div>
</header>

