@import '../../_variables.less';
@import '../../_mixins.less';

// https://dribbble.com/tags/mobile_navigation
// https://dribbble.com/shots/16923583--Tab-Bar-Animation-Dark-Version
.navigation-wrapper {
    position: fixed;
    bottom: 0px;
    background-color: @default-font-color;
    color: @default-background-color;
    z-index: 1;
    width: auto;
    max-width: 600px;
    margin: 4px 0px;
    min-height: 50px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 8px;

    ul {
        .flex-center;

        li {
            cursor: pointer;
            display: inline-block;
            width: 75px;
            margin: 12px;
            .flex-center;
            flex-direction: column;

            .navigation-logo {
                width: 32px;
                height: 32px;
                background: #fff;
                border-radius: 50%;
                padding: 0px 6px;
            }

            .navigation-label {
                font-size: 14px;
            }

            
            &:hover {
                opacity: .80;
                transform: scale(1.05);
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .navigation-wrapper {
        width: 96%;
    
        ul {
            li {
                width: 60px;
    
                .navigation-logo {
                    width: 24px;
                    height: 24px;
                    padding: 0px 4px;
                }
    
                .navigation-label {
                    font-size: 10px;
                }
            }
        }
    }
}
