@import '../../_variables.less';
// https://dribbble.com/tags/mobile_navigation
// https://dribbble.com/shots/16923583--Tab-Bar-Animation-Dark-Version
.navigation-wrapper {
    position: fixed;
    bottom: 0px;
    background-color: @default-font-color;
    color: @default-font-color;
    z-index: 1;
    width: 96%;
    max-width: 600px;
    margin: 4px 0px;
    min-height: 50px;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 8px;
}
