<div class="flex-center-vertical">
  <div class="my-4">
    <app-slap-toggle (toggleOption)="updateToggleOption($event)"></app-slap-toggle>
  </div>
  <div class="row login-wrapper">
    <div class="account-login flex-center-vertical col-12 col-md-6" *ngIf="(toggleOptionObs$ | async) === 'login'">
      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <div class="p-0">
          <app-input label="Email">
            <input class="input-content" type="email" id="email" formControlName="email" />
          </app-input>
        </div>
        <div class="p-0">
          <app-input label="Password">
            <input class="input-content" type="password" id="password" formControlName="password" />
          </app-input>
        </div>
        <div class="flex-center">
          <app-default-button type="submit" buttonType="success" [isDisabled]="!loginForm.valid" label="Login"></app-default-button>
        </div>
      </form>
      <div>
        <div class="login-separator text-center">Or</div>
        <app-default-button type="submit" buttonType="success" label="Continue with Google"></app-default-button>
      </div>
    </div>
    <div class="account-login flex-center-vertical col-12 col-md-6" *ngIf="(toggleOptionObs$ | async) === 'signup'">
      <form [formGroup]="signupForm" (ngSubmit)="signup()">
        <div class="p-0">
          <app-input label="Email">
            <input class="input-content" type="email" id="email" formControlName="signupEmail" />
          </app-input>
        </div>
        <div class="p-0">
          <app-input label="Password">
            <input class="input-content" type="password" id="password" formControlName="signupPassword" (input)="onPasswordInput()"/>
          </app-input>
        </div>
        <div class="password-strength-indicator mx-2 mx-md-3">
          <div class="indicator-item" [class.satisfied]="passwordCriteria.minLength">
            <span class="indicator-icon">✔</span> Minimum length (8 characters)
          </div>
          <div class="indicator-item" [class.satisfied]="passwordCriteria.uppercase">
            <span class="indicator-icon">✔</span> Uppercase character
          </div>
          <div class="indicator-item" [class.satisfied]="passwordCriteria.lowercase">
            <span class="indicator-icon">✔</span> Lowercase character
          </div>
          <div class="indicator-item" [class.satisfied]="passwordCriteria.number">
            <span class="indicator-icon">✔</span> Numeric character
          </div>
          <div class="indicator-item" [class.satisfied]="passwordCriteria.specialChar">
            <span class="indicator-icon">✔</span> Special character
          </div>
        </div>
        <div class="flex-center">
          <app-default-button type="submit" buttonType="success" label="Sign up"></app-default-button>
        </div>
      </form>
    </div>
    <div class="google-login flex-center col-12 col-md-6">

    </div>
  </div>
</div>
