.login-wrapper {
    width: 100%;
    max-width: 700px;
}

.login-separator {
    display: flex;
    flex-direction: row;
}

.login-separator:before,
.login-separator:after {
    content: "";
    flex: 1 1;
    border-bottom: 1px solid;
    margin: auto;
}

.login-separator:before {
    margin-right: 10px
}

.login-separator:after {
    margin-left: 10px
}

.password-strength-indicator {
    font-size: 12px;
    .indicator-item {
        .indicator-icon:not(.satisfied) {
            color: green;
        }
    }
}