<div class="m-2 m-sm-4" #graphWrapper>
  <h1 class="content-header">Monthly Summary</h1>
  <div class="m-3">
    <div class="time-selector flex-end mb-4 mb-sm-2">
      <app-input label="Date" iconSrc="calendar" [removeXMargin]="true">
        <input class="input-content" type="month" [(ngModel)]="selectedYear" name="" id="" max="maxYear" />
      </app-input>
    </div>
    <app-card-wrapper>
      <div class="row m-2 m-sm-4">
        <h2 class="sub-header mx-0 px-0">Summary</h2>
        <ng-container *ngIf="(transactionInfo$ | async) as transactionData">
          <app-custom-table [tableData]="transactionData?.expenses" [itemsPerPage]="5"
          [sortConfig]="['name', 'priority']" [isClientSide]="false"
            [totalRecords]="transactionData.totalExpenses" (pageChange)="onPageUpdate($event)"></app-custom-table>
        </ng-container>
      </div>
    </app-card-wrapper>
  </div>
  <div class="row mx-0 row-cols-1 row-cols-md-2 g-4" #graphWrapper>
    <app-card-wrapper [isDefault]="true" [hasDescription]="true">
      <h2 class="sub-header">Expense vs Threshold</h2>
      <ngx-charts-linear-gauge [view]="[300, 300]" [scheme]="colorScheme" [value]="1500" [previousValue]="1200"
        [units]="'Expense'">
      </ngx-charts-linear-gauge>
      <div class="row gap-2">
        <div class="card-caption flex-space-between">
          <span class="label">Your spendings exceeded by 300$</span>
          <span class="value">$1800
            <app-custom-popover></app-custom-popover>
          </span>
        </div>
        <div class="card-caption flex-space-between">
          <span class="label">Upcoming bills</span>
          <span class="value">$990
            <app-custom-popover></app-custom-popover>
          </span>
        </div>
        <div class="note-section">*Days remaining in this month: 4</div>
      </div>
    </app-card-wrapper>
    <app-card-wrapper [isDefault]="true" [hasDescription]="true">
      <h2 class="sub-header flex-space-between">
        <span class="mx-4">Month comparison</span>
        <span>Jan vs Feb</span>
      </h2>
      <ng-container *ngIf="(lineInfo$ | async) as lineChartInfo">
        <ngx-charts-line-chart [view]="[view[0], view[1] - 50]" [scheme]="colorScheme" [legend]="true"
          [roundDomains]="true" [showXAxisLabel]="true" [showYAxisLabel]="true" [xAxis]="true" [yAxis]="true"
          [xAxisLabel]="'Days'" [yAxisLabel]="'Expense'" [results]="lineChartInfo" [legendPosition]="legendPosition">
        </ngx-charts-line-chart>
      </ng-container>
    </app-card-wrapper>
    <app-card-wrapper [isDefault]="true" [hasDescription]="true">
      <h2 class="sub-header">Expenses Tree Map</h2>
      <ng-container *ngIf="(treeInfo$ | async) as treeInfo">
        <ngx-charts-tree-map [view]="view" [results]="treeInfo" [animations]="true"
          [labelFormatting]="treeLabelFormatting">
        </ngx-charts-tree-map>
      </ng-container>
    </app-card-wrapper>
    <app-card-wrapper [isDefault]="true" [hasDescription]="true">
      <h2 class="sub-header">Per Day Expenses vs Median</h2>
      <ng-container *ngIf="(multiInfo$ | async) as multiInfo">
        <ngx-charts-bar-vertical-stacked [view]="view" [results]="multiInfo" [gradient]="false" [xAxis]="true"
          [yAxis]="true" [legend]="true" [legendTitle]="''" [showXAxisLabel]="true" [showYAxisLabel]="true"
          [xAxisLabel]="'Day'" [yAxisLabel]="'Expense'" [animations]="true" [legendPosition]="legendPosition">
        </ngx-charts-bar-vertical-stacked>
      </ng-container>
    </app-card-wrapper>
    <app-card-wrapper [isDonutChart]="true">
      <h2 class="sub-header">Expenses Donut</h2>
      <ng-container *ngIf="(seriesInfo$ | async) as seriesData">
        <ngx-charts-pie-chart [view]="view" [legendPosition]="legendPosition" [results]="seriesData" [legend]="true"
          [labels]="true" [doughnut]="true" [legendTitle]="''" [labelFormatting]="pieChartLabel.bind(this, seriesData)"
          [animations]="false">
        </ngx-charts-pie-chart>
      </ng-container>
    </app-card-wrapper>
    <app-card-wrapper [isDonutChart]="true">
      <h2 class="sub-header">Expenses Pie</h2>
      <ng-container *ngIf="(seriesInfo$ | async) as seriesData">
        <ngx-charts-pie-chart [view]="view" [legendPosition]="legendPosition" [results]="seriesData" [legend]="true"
          [labels]="true" [explodeSlices]="true" [legendTitle]="''"
          [labelFormatting]="pieChartLabel.bind(this, seriesData)" [animations]="false">
        </ngx-charts-pie-chart>
      </ng-container>
    </app-card-wrapper>
  </div>
</div>
