<div class="m-3" #graphWrapper>
    <h1 class="flex-center">Monthly Summary</h1>
    <div class="row mx-0 row-cols-1 row-cols-md-2 g-2" #graphWrapper>
        <app-card-wrapper [isDefault]="true" [hasDescription]="true">
            <ngx-charts-linear-gauge [view]="[300, 250]" [scheme]="colorScheme" [value]="1500" [previousValue]="1200"
                [units]="'Expense'">
            </ngx-charts-linear-gauge>
        </app-card-wrapper>
        <app-card-wrapper [isDefault]="true">
            <ngx-charts-tree-map [view]="[300, 300]" [results]="treeInfo" [animations]="true"
                [labelFormatting]="treeLabelFormatting">
            </ngx-charts-tree-map>
        </app-card-wrapper>
        <app-card-wrapper [isDefault]="true">
            <ngx-charts-bar-vertical-stacked [view]="view" [results]="multi" [gradient]="false" [xAxis]="true"
                [yAxis]="true" [legend]="true" [legendTitle]="''" [showXAxisLabel]="true" [showYAxisLabel]="true"
                [xAxisLabel]="'Day'" [yAxisLabel]="'Expense'" [animations]="true" [legendPosition]="legendPosition">
            </ngx-charts-bar-vertical-stacked>
        </app-card-wrapper>
        <app-card-wrapper [isDonutChart]="true">
            <ngx-charts-pie-chart [view]="view" [legendPosition]="legendPosition" [results]="series" [legend]="true"
                [labels]="true" [doughnut]="true" [legendTitle]="''"
                [labelFormatting]="pieChartLabel.bind(this, series)" [animations]="false">
            </ngx-charts-pie-chart>
        </app-card-wrapper>
        <app-card-wrapper [isDonutChart]="true">
            <ngx-charts-pie-chart [view]="view" [legendPosition]="legendPosition" [results]="series" [legend]="true"
                [labels]="true" [explodeSlices]="true" [legendTitle]="''"
                [labelFormatting]="pieChartLabel.bind(this, series)" [animations]="false">
            </ngx-charts-pie-chart>
        </app-card-wrapper>
    </div>
</div>