<div class="m-4">
    <h1 class="content-header">
        Cash Book
    </h1>
    <div>
        <h2 class="sub-header">
            Add Expense
        </h2>
        <form [formGroup]="expenseInfoForm">
            <div class="row mx-0">
                <div class="col-md-4">
                    <app-input label="Name" iconSrc="wallet-solid">
                        <input class="input-content" type="text" name="" id="" formControlName="name" />
                    </app-input>
                </div>
                <div class="col-md-4">
                    <app-input label="Price" iconSrc="wallet-solid">
                        <input class="input-content" type="number" name="" id="" formControlName="price" />
                    </app-input>
                </div>
                <div class="col-md-4">
                    <app-input label="Date" iconSrc="wallet-solid">
                        <input class="input-content" type="date" name="" id="" formControlName="date" />
                    </app-input>
                </div>
                <div class="col-md-4">
                    <app-select label="Category" iconSrc="utensils-solid">
                        <select class="select-content" name="" id="" formControlName="category">
                            <option selected value="">One</option>
                            <option value="">Two</option>
                            <option value="">Three</option>
                            <option value="">Four</option>
                            <option value="">Five</option>
                            <option value="">Six</option>
                        </select>
                    </app-select>
                </div>
                <div class="col-md-4">
                    <app-select label="Payment Mode" iconSrc="utensils-solid">
                        <select class="select-content" name="" id="" formControlName="paymentMode">
                            <option selected value="">One</option>
                            <option value="">Two</option>
                            <option value="">Three</option>
                            <option value="">Four</option>
                            <option value="">Five</option>
                            <option value="">Six</option>
                        </select>
                    </app-select>
                </div>
                <div class="col-md-4">
                    <app-checkbox label="Subscription" iconSrc="gift">
                        <label class="check-group-label" for="checkbox">
                            <input class="input-checkbox" type="checkbox" name="checkbox" id=""
                                formControlName="isSubscription" />
                            Auto Refill
                        </label>
                    </app-checkbox>
                </div>
                <div class="col-md-4">
                    <app-textarea label="Notes" iconSrc="activity">
                        <textarea class="input-content" name="" id="" cols="20" rows="3" formControlName="notes"></textarea>
                    </app-textarea>
                </div>
                <div class="col-md-4">
                    <app-select label="Rebill" iconSrc="utensils-solid">
                        <select class="select-content" name="" id="" formControlName="rebill">
                            <option selected value="">One</option>
                            <option value="">Two</option>
                            <option value="">Three</option>
                            <option value="">Four</option>
                            <option value="">Five</option>
                            <option value="">Six</option>
                        </select>
                    </app-select>
                </div>
                <div class="col-md-4">
                    <app-input label="Site" iconSrc="wallet-solid">
                        <input class="input-content" type="text" name="" id="" formControlName="site" />
                    </app-input>
                </div>
            </div>
            <div class="flex-center">
                <app-default-button buttonType="success" label="Add" (buttonClicked)="submitForm()"></app-default-button>
                <app-default-button buttonType="cancel" label="Reset" (buttonClicked)="resetForm()"></app-default-button>
            </div>
        </form>
    </div>
    <div class="row m-4">
        <h2 class="sub-header mx-0 px-0">
            Expenses Summary
        </h2>
        <table class="table">
            <thead class="table-head">
                <tr class="table-head--row">
                    <th class="row-content">No</th>
                    <th class="row-content">Name</th>
                    <th class="row-content">Type</th>
                    <th class="row-content">Description</th>
                    <th class="row-content">Status</th>
                    <th class="row-content">Actions</th>
                </tr>
            </thead>
            <tbody class="table-body">
                <tr class="table-body-row">
                    <td class="row-content">1</td>
                    <td class="row-content">Food</td>
                    <td class="row-content">Category</td>
                    <td class="row-content">Items include food, beverages, snacks and cool drinks</td>
                    <td class="row-content">Active</td>
                    <td class="row-content">
                        <span>Edit</span>
                        <span>Delete</span>
                    </td>
                </tr>
                <tr class="table-body-row">
                    <td class="row-content">2</td>
                    <td class="row-content">Movie</td>
                    <td class="row-content">Category</td>
                    <td class="row-content">Items include Ticket cost, parking, pop-corn and cool drinks</td>
                    <td class="row-content">Active</td>
                    <td class="row-content">
                        <span>Edit</span>
                        <span>Delete</span>
                    </td>
                </tr>
                <tr class="table-body-row">
                    <td class="row-content">3</td>
                    <td class="row-content">$</td>
                    <td class="row-content">Currency</td>
                    <td class="row-content">Currency of the U.S.A</td>
                    <td class="row-content">Active</td>
                    <td class="row-content">
                        <span>Edit</span>
                        <span>Delete</span>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- <app-radio label="Radio" iconSrc="headphones">
        <label class="check-group-label" for="radio">
            <input class="input-radio" type="radio" name="radio" id="" required />
            Radio 1
        </label>
        <label class="check-group-label" for="radio">
            <input class="input-radio" type="radio" name="radio" id="" required />
            Radio 2
        </label>
    </app-radio> -->
