@import '../../../../_variables.less';

.box-wrapper {
    margin: 0 16px;
    .box-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        padding: 8px 0;
        position: relative;
        font-size: 16px;
        border-radius: 0.5em;
        border-bottom: 10px solid #18f98f;

        .icon {
            width: 70px;
            height: 70px;
        }

        span.num {
            display: grid;
            place-items: center;
            font-weight: 400;
            font-size: 32px;
        }

        span.text {
            color: @description;
            font-size: 1em;
            text-align: center;
            font-weight: 400;
        }
    }
}

@media screen and (max-width: 576px) {
    .box-wrapper {
        min-width: 200px;
        .box-container {
            font-size: 14px;
            padding: 8px 0;
            span.num {
                display: grid;
                place-items: center;
                font-weight: 400;
                font-size: 32px;
                line-height: 1.3;
            }
            .icon {
                width: 50px ;
                height: 50px;
            }
        }
    }
}
