<div class="m-4">
    <h1 class="content-header">
        Configure Lookup
    </h1>
    <div *ngIf="VIEW_MODE">
        <h2 class="sub-header">
            {{VIEW_MODE}} Lookup
        </h2>
        <form [formGroup]="lookupInfoForm">
            <div class="row mx-0">
                <div class="col-12 col-sm-6 col-lg-4">
                    <app-input label="Name" iconSrc="dog-tag">
                        <input class="input-content" type="text" name="" id="" formControlName="name" />
                    </app-input>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <app-select label="Type" iconSrc="branch-up-arrow">
                        <select class="select-content" name="" id="" formControlName="type">
                            <option selected value="">Category</option>
                            <option value="">Currency</option>
                        </select>
                    </app-select>
                </div>
                <div class="col-12 col-sm-6 col-lg-4">
                    <app-textarea label="Notes" iconSrc="notes">
                        <textarea class="input-content" name="" id="" cols="20" rows="3" formControlName="description"></textarea>
                    </app-textarea>
                </div>
                <div class="buttons-group">
                    <app-default-button buttonType="success" label="Add Info" (buttonClicked)="submitForm()"></app-default-button>
                    <app-default-button buttonType="cancel" label="Reset" (buttonClicked)="resetForm()"></app-default-button>
                </div>
            </div>
        </form>
    </div>
    <div class="row m-4">
        <h2 class="sub-header mx-0 px-0">
            Lookup Info
        </h2>
        <app-custom-table [tableData]="categoriesData"></app-custom-table>
    </div>
</div>
