<p>dashboard works!</p>
<div class="input-wrapper m-5 position-relative">
    <input class="input-content" type="text" name="" id="" required>
    <label class="input-label" for="">Text</label>
</div>
<div class="input-wrapper m-5 position-relative">
    <input class="input-content" type="number" name="" id="" required>
    <label class="input-label" for="">Number</label>
</div>
<div class="input-wrapper m-5 position-relative">
    <input class="input-content" type="email" name="" id="" required>
    <label class="input-label" for="">Email</label>
</div>
<div class="input-wrapper m-5 position-relative">
    <input class="input-content" type="password" name="" id="" required>
    <label class="input-label" for="">Password</label>
</div>
<div class="input-wrapper m-5 position-relative">
    <input class="input-checkbox" type="checkbox" name="" id="" required>
    <label class="input-label" for="">Checkbox</label>
</div>
<div class="input-wrapper m-5 position-relative">
    <input class="input-radio" type="radio" name="" id="" required>
    <label class="input-label" for="">Radio</label>
</div>
<div class="input-wrapper m-5 position-relative">
    <textarea class="input-content" name="" id="" cols="30" rows="3"></textarea>
    <!-- <input class="input-content" type="radio" name="" id="" required> -->
    <label class="input-label" for="">Text-area</label>
</div>
