<p>dashboard works!</p>
<app-input label="Input Field" iconSrc="wallet-solid">
    <input class="input-content" type="text" name="" id="" required>
</app-input>
<app-checkbox label="Checkbox" iconSrc="gift">
    <label class="check-group-label" for="checkbox"> 
        <input class="input-checkbox" type="checkbox" name="checkbox" id="" required>
        Checkbox 1
    </label>
    <label class="check-group-label" for="checkbox"> 
        <input class="input-checkbox" type="checkbox" name="checkbox" id="" required>
        Checkbox 2
    </label>
</app-checkbox>
<app-radio label="Radio" iconSrc="headphones">
    <label class="check-group-label" for="radio"> 
        <input class="input-radio" type="radio" name="radio" id="" required>
        Radio 1
    </label>
    <label class="check-group-label" for="radio"> 
        <input class="input-radio" type="radio" name="radio" id="" required>
        Radio 2
    </label>
</app-radio>
<app-select label="Dropdown" iconSrc="utensils-solid">
    <select class="select-content" name="" id="">
        <option selected value="">One</option>
        <option value="">Two</option>
        <option value="">Three</option>
        <option value="">Four</option>
        <option value="">Five</option>
        <option value="">Six</option>
    </select>
</app-select>
<app-textarea label="Textarea" iconSrc="activity">
    <textarea class="input-content" name="" id="" cols="30" rows="3"></textarea>
</app-textarea>
<app-default-button></app-default-button>
