.input-wrapper {
  position: relative;

  &.default {
    .flex-center(center, flex-start);
  }

  .input-label {
    position: absolute;
    font-size: 16px;
    transform: translateY(50%);
    left: 12px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    will-change: transform;
    pointer-events: none;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
    color: @label-text;
  }

  .icon-wrapper {
    padding: 4px 6px 4px 0;
    height: 100%;
    // background-color: @input-border-color;
    // border: 1px solid @input-border-color;
    border-radius: 33%;
    margin-right: 8px;
    padding-top: 0px;
    // box-shadow: 0 2px 4px @input-border-color;
  }

  .input-icon {
    width: 24px;
    height: 24px;
    // filter: invert(1);
  }

  .label-text {
    .flex-center(center, flex-start);

    .group-label {
      font-weight: 600;
      color: @check-group-color;
    }
  }

  .input-content {
    width: auto;
    width: 200px;
    padding: 18px 10px 4px;
    border: 1px solid @input-default-border;
    border-radius: 8px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);

    &:focus,
    &:valid {
      +.input-label {
        font-size: 12px;
        transform: translateY(0%);
        color: @default-font-color;
      }
    }

    &:focus {
      border: 2px solid @input-border-color;
      outline: none;
    }

    &:hover {
      background-color: @input-hover;
      box-shadow: @input-shadow;
    }

    @media screen and (max-width: 576px) {
      width: 260px;
    }
  }

  // Learn about this technique:
  // @link https://moderncss.dev/pure-css-custom-checkbox-style/
  .input-checkbox {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: @default-background-color;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 0.3em;

    .flex-center;

    &::before {
      content: '';
      width: 0.65em;
      height: 0.65em;
      clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
      transform: scale(0);
      transform-origin: bottom left;
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em @check-group-color;
      /* Windows High Contrast Mode */
      background-color: CanvasText;
    }

    &:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
    }

    &:disabled {
      color: @check-group-disabled;
      cursor: not-allowed;
    }

    &:checked {
      &::before {
        transform: scale(1);
      }
    }
  }

  .check-group-label {
    font-size: 14px;
    line-height: 1.2;
    .flex-center(center, flex-start);
    flex-wrap: wrap;
    column-gap: 10px;
    margin-bottom: 8px;
    margin-left: 12px;
  }

  // Learn about this technique:
  // @link https://moderncss.dev/pure-css-custom-styled-radio-buttons/
  .input-radio {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    /* Remove most all native input styles */
    appearance: none;
    /* For iOS < 15 */
    background-color: @default-background-color;
    /* Not removed via appearance */
    margin: 0;

    font: inherit;
    color: currentColor;
    width: 1.15em;
    height: 1.15em;
    border: 0.15em solid currentColor;
    border-radius: 50%;

    .flex-center;

    &::before {
      content: '';
      width: 0.65em;
      height: 0.65em;
      border-radius: 50%;
      transform: scale(0);
      transition: 120ms transform ease-in-out;
      box-shadow: inset 1em 1em @check-group-color;
      /* Windows High Contrast Mode */
      background-color: CanvasText;
    }

    &:checked {
      &::before {
        transform: scale(1);
      }
    }

    &:focus {
      outline: max(2px, 0.15em) solid currentColor;
      outline-offset: max(2px, 0.15em);
    }
  }

  /* <select> styles */
  .select-content {
    /* Reset */
    appearance: none;
    border: 1px solid #eee;
    outline: 0;
    font: inherit;
    /* Personalize */
    width: 200px;
    height: 50px;
    padding: 16px 64px 8px 16px;
    background: url(https://upload.wikimedia.org/wikipedia/commons/9/9d/Caret_down_font_awesome_whitevariation.svg) no-repeat right 0.8em center / 1.4em,
      linear-gradient(to left, @input-border-color 3em, transparent 3em);
    color: @default-font-color;
    border-radius: 16px;
    box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 20%);
    cursor: pointer;

    /* <option> colors */
    option {
      color: inherit;
      background-color: @default-background-color;
    }

    /* Remove focus outline */
    &:focus {
      outline: none;
    }

    /* Remove IE arrow */
    &::-ms-expand {
      display: none;
    }

    @media screen and (max-width: 576px) {
      width: 260px;
    }
  }

  .select-label {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 12px;
    transform: translateY(-20%);
    padding: 6px;
    color: @label-text;
  }

  // @media screen and (max-width: 576px) {
  //   padding-bottom: 16px;
  // }

  /* For the calendar picker icon */
  input[type="month"]::before {
    content: '';
    position: absolute;
    top: 8px;
    right: 6px;
    width: 20px;
    height: 20px;
    background-size: contain;
    pointer-events: none;
  }

  /* For the inner spin button */
  input[type="month"]::-webkit-inner-spin-button,
  input[type="month"]::-moz-inner-spin-button,
  input[type="month"]::-ms-inner-spin-button {
    display: none;
  }
}
