.input-wrapper {
    position: relative;
    .input-label {
        position: absolute;
        font-size: 16px;
        transform: translateY(50%);
        left: 12px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        will-change: transform;
        pointer-events: none;
        transition: 0.2s ease all;
        -moz-transition: 0.2s ease all;
        -webkit-transition: 0.2s ease all;
        color: @label-text;
    }
    .input-content {
        width: auto;
        min-width: 200px;
        padding: 18px 10px 4px;
        border: 1px solid @label-text;
        border-radius: 8px;

        &:focus, &:valid {
            + .input-label {
                font-size: 12px;
                transform: translateY(0%);
                color: @default-font-color;
            }
        }
        &:focus {
            border: 2px solid @input-border-color;
            outline: none;
        }
        &:hover {
            background-color: @input-hover;
            box-shadow: @input-shadow;
        }
    }
}
