@default-font-color: #000;
@default-backgroud-color: #fff;
@label-text: #1b1f3ba6;
@input-default-border: #dee2e6;
@input-border-color: #526ed3;
@input-hover: #f4feff;
@input-shadow: 0 0.125rem 0.1875rem rgb(0 0 0 / 10%);